
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*{
    margin:0;
    padding:0;
}

body {
    margin: 60px auto;
    width: 70%;
    background-color:#d6ecf3;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding:10px 10px 20px 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a.res:link{
    color:rgb(10, 25, 47);
    padding:4px 4px 4px 0px;

}

a.links{
    font-family: 'Inconsolata', 'monospace';
    color: #61606a;
    font-size:16px;
}

a {
    text-decoration: none;
    font-family: 'Inconsolata', 'monospace';
    color: #999;
    font-size: 20px

}

a:hover {
    text-decoration: underline;
}
h1{
    font-size: 2em;
    font-family: 'Lobster', 'cursive';
    padding:10px 10px 10px 0px;
}

h2 {
    font-size: 1.5em;
    font-family: 'Inconsolata', 'monospace';
    padding:10px 10px 10px 0px;
    /*font-family:'FreeMono', 'monospace';*/
}
p {
    font-size: 1.2em;
    line-height: 1.4em;
    color: #61606a;
    font-family: 'Inconsolata', 'monospace';
}
p.intro{
    font-size: 1.3em;
    line-height: 1.4em;
    color: #808080;
    font-family: 'Inconsolata', 'monospace';
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}


ul.res-body li{
    font-family: 'Inconsolata', 'monospace';
    list-style:none;
    font-size: 17px
    color: #61606a;   
}
ul.interests li{
    list-style:none;
    font-family: 'Inconsolata', 'monospace';
    color: #61606a;   
}
ul.hob {
    list-style:none;
    font-family: 'Inconsolata', 'monospace';
    color: #61606a;   
}
    
.res-body{
    font-family: 'Inconsolata', 'monospace';
    color: #61606a;
    padding-bottom:10px;
}
ul.res-sections li{
    margin: 0px;
    text-align: left;
    width: 50%;
    display:inline;
    list-style-type: none;
    padding: 4px 12px 4px 0px;
    font-family: 'Inconsolata', 'monospace';
    font-weight: bold;
    font-size:1.4em;
}
.s-head{
    font-family: 'Inconsolata', 'monospace';
    font-size: 1.2em

}
.s-body{
    font-family: 'Inconsolata', 'monospace';
    color: #61606a;
    padding:4px 4px 4px 0px;

}
.e-dateplace{
    font-family: Consolas,monaco,monospace; 
    color: #808080;
    padding: 0px 0px 10px 0px;
}
.p-body{
    font-family: 'Inconsolata', 'monospace';
    list-style:none;
    color: #61606a;
}

ul.p-body li{
    list-style-type: none;
}
.tech-stack{
    font-family: 'Inconsolata', 'monospace';
    color: #808080;
    font-weight:bold;
}
.res-headings{
    font-weight:bold;
    color:black;
    font-family: 'Inconsolata', 'monospace';
    font-size:1.2em;
}
.boxes{
    font-family: 'Inconsolata', 'monospace';
    color: #61606a;
    padding:10px;
}
.interests{
    font-family: 'Inconsolata', 'monospace';
    width:50%;
    float:left;
    color: #61606a;
}
.hob{
    font-family: 'Inconsolata', 'monospace';
    width:50%;
    float:left;
    color: #61606a;
}
