<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul class="top-bar">
	        		<li><a href="/">About Me</a></li>
		        	
	        		<li><a href="/resume">Resume</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:nithik181@gmail.com" target="_blank">Email</a></li>
	        		<li><a href="https://github.com/nithi0105" target="_blank">Github</a></li>
	        		<li><a href="https://www.linkedin.com/in/nithi-kumar" target="_blank">Linkedin</a></li>
				</ul>
			</footer>
		</body>
	</html>
